<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.rg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ict.mapper.BoardMapper">

	<!-- 위의 BoardMapper 인터페이스의 getList 메서드를 호출시
	실제로 실행할 쿼리문을 아래와 같이 연결해줍니다.
	mybatis는 단일자료와 리스트자료를 구분하지 않기 때문에
	resultType에는 List<> 자료형도 아래와 같이
	단일 VO만 적어주면 됩니다. -->
	<select id="getList" resultType="org.ict.domain.BoardVO">
		<!-- <이나 >과 같이 태그로 오인될 수 있는 문자를 포함하는
		쿼리문은 그냥 작성하지 않고, CDATA를 이용합니다. 
		CDATA내부에 작성하면 내부의 부등호는 전부 문자로 간주됩니다. -->
		<!--
		<![CDATA[
		SELECT * FROM board_tbl WHERE bno <= 3
		]]>
		-->
		SELECT * FROM board_tbl ORDER BY bno ASC
	</select>
	
	<!-- 현재 insert는 Board를 파라미터로 받고 있습니다.
	이 경우, VO 내부 변수를 #{변수명} 으로 쿼리문에 전달할 수 있습니다.
	${변수명}이 아님에 주의해주세요 -->
	<insert id="insert">
		INSERT INTO board_tbl (bno, title, content, writer)
		VALUES (board_num.nextval, #{title}, #{content}, #{writer})
	</insert>


	<select id="select" resultType="org.ict.domain.BoardVO">
		SELECT * FROM board_tbl WHERE bno = #{bno}
	</select>
	
	<delete id="delete">
		DELETE FROM board_tbl WHERE bno = #{bno}
	</delete>
	
	<update id="update">
		<![CDATA[
		UPDATE board_tbl SET title=#{title}, content=#{content}, writer=#{writer}, updatedate=SYSDATE WHERE bno = #{bno}
		]]>	
	</update>
</mapper>